body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 25rem;
    max-width: 25rem;
    left: 40%;
    position: relative;
    margin: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    background: #222222;
    background: -webkit-linear-gradient(to top, #232526, #414345);
}
body a {
    color: inherit;
}
body a:not(:hover) {
    text-decoration: none;
}
body #link-a-me {
    position: absolute;
    bottom: 80px;
    right: 20px;
    height: 60px;
    width: 60px;
    background: url(https://i.imgur.com/xoxkq1r.png);
    background-size: cover;
    z-index: 1;
    -webkit-animation: pop-in 120s ease-out;
    animation: pop-in 120s ease-out;
}
body .content {
    overflow: hidden;
    flex-grow: 1;
    margin-right: auto;
    margin-left: auto;
    height: calc(100% - 80px);
}

.body__cover {
    position: relative;
}

.body__cover img {
    max-width: 25rem;
    border-radius: 0.25rem;
    position: fixed;
}
body .content .lyrics {
    z-index: 5;
    padding: 50vh 0;
    min-height: calc(100vh - 80px);
    width: calc(100% - 40px);
    margin: 0 20px;
    text-align: left;
    transition: all 0.25s;
    position: relative;
}
body .content .lyrics > div {
    position: relative;
    font-size: 20px;
    line-height: 60px;
    color: rgb(216, 216, 216);
    transition: all 0.25s;
}
body .content .lyrics > div:before {
    content: attr(note);
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}
body .content .lyrics > div.highlighted {
    /* color: rgb(48, 204, 13); */
    /* font-size: 30px; */
    font-weight: 700;
    position: relative;
}
.highlighted {
    /* color: #30cc0d; */
    font-weight: 700;
    position: relative;
    /* white-space: nowrap; */
}

.highlighted::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #30cc0d;
    overflow: hidden;
    width: 40%;
    /* animation: run-text 2s infinite linear; */
    animation: var(--timeConsum, run-text 2s forwards linear);
}
.runText {
    /* color: #30cc0d; */
    font-weight: 700;
    position: relative;
    /* white-space: nowrap; */
}
.green {
    color: #30cc0d;
}

.runText::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    /* top: 0; */
    color: #30cc0d;
    overflow: hidden;
    width: 40%;
    /* animation: run-text 2s infinite linear; */
    animation: var(--timeConsum, run-text 0.5s forwards linear);
}
.runText2 {
    /* color: #30cc0d; */
    font-weight: 700;
    position: relative;
    /* white-space: nowrap; */
}

.runText2::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    /* top: 0; */
    color: #30cc0d;
    overflow: hidden;
    width: 40%;
    /* animation: run-text 2s infinite linear; */
    animation: var(--timeConsum2, run-text 0.5s forwards linear);
}
@keyframes run-text {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

body .player {
    z-index: 10;
    /* background: #f9f9f9; */
    /* color: #000; */
    /* min-height: 40px; */
    /* max-height: 40px; */
    /* display: flex; */
    /* flex-direction: row; */
}

video {
    flex-grow: 1;
    height: 32px;
    width: 100%;
}

@-webkit-keyframes pop-in {
    0%,
    95% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes pop-in {
    0%,
    95% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0%);
    }
}

/* thanh play */
button {
    padding: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
    width: 40px;
    height: 40px;
    float: left;
}
#audio-player-container {
    --seek-before-width: 0%;
    --volume-before-width: 100%;
    --buffered-width: 0%;
    position: absolute;
    bottom: 0;
    margin: 100px 2.5% auto 2.5%;
    width: 95%;
    max-width: 500px;
    height: 132px;
    background: #fff;
    color: #000;
}
#audio-player-container::before {
    position: absolute;
    content: '';
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    left: -2px;
    top: -2px;
    background: linear-gradient(to left, #007db5, #ff8a00);
    z-index: -1;
}
p {
    position: absolute;
    top: -18px;
    right: 5%;
    padding: 0 5px;
    margin: 0;
    font-size: 28px;
    background: #fff;
}
#play-icon {
    margin: 20px 2.5% 10px 2.5%;
}
path {
    stroke: #007db5 !important;
}
.time {
    display: inline-block;
    width: 37px;
    text-align: center;
    font-size: 20px;
    margin: 28.5px 0 18.5px 0;
    float: left;
}
output {
    display: inline-block;
    width: 32px;
    text-align: center;
    font-size: 20px;
    margin: 10px 2.5% 0 5%;
    float: left;
    clear: left;
}
#volume-slider {
    margin: 10px 2.5%;
    width: 58%;
}
#volume-slider::-webkit-slider-runnable-track {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::-moz-range-track {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::-ms-fill-upper {
    background: rgba(0, 125, 181, 0.6);
}
#volume-slider::before {
    width: var(--volume-before-width);
}
#mute-icon {
    margin: 0 2.5%;
}
input[type='range'] {
    position: relative;
    -webkit-appearance: none;
    width: 48%;
    margin: 0;
    padding: 0;
    height: 19px;
    margin: 30px 2.5% 20px 2.5%;
    float: left;
    outline: none;
}
input[type='range']::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(
        to right,
        rgba(0, 125, 181, 0.6) var(--buffered-width),
        rgba(0, 125, 181, 0.2) var(--buffered-width)
    );
}
input[type='range']::before {
    position: absolute;
    content: '';
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: #007db5;
    cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: -7px 0 0 0;
}
input[type='range']:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type='range']::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(
        to right,
        rgba(0, 125, 181, 0.6) var(--buffered-width),
        rgba(0, 125, 181, 0.2) var(--buffered-width)
    );
}
input[type='range']::-moz-range-progress {
    background-color: #007db5;
}
input[type='range']::-moz-focus-outer {
    border: 0;
}
input[type='range']::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type='range']:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #007db5;
}
input[type='range']::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}
input[type='range']::-ms-fill-lower {
    background-color: #007db5;
}
input[type='range']::-ms-fill-upper {
    background: linear-gradient(
        to right,
        rgba(0, 125, 181, 0.6) var(--buffered-width),
        rgba(0, 125, 181, 0.2) var(--buffered-width)
    );
}
input[type='range']::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}
input[type='range']:active::-ms-thumb {
    transform: scale(1.2);
    background: #007db5;
}
